[submodule "teensy.pretty"]
	path = teensy.pretty
	url = https://github.com/blackketter/teensy.pretty.git
[submodule "teensy_library"]
	path = teensy_library
	url = https://github.com/blackketter/teensy_library.git
